
  <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
   
    <div id="youxi" ng-app="">
<div id="header">
<div class="bar bar-header bar-energized">
  <h1 class="title">2048</h1>
</div>
  <div id="control" ng-controller="load">
  
  <a class="button button-icon icon ion-loop" id="star" ng-click="reloadRoute()"></a>
  <a class="button button-icon icon ion-refresh" id="refresh"></a>
  <a class="button button-icon icon ion-settings" id="shoucang"></i></a>
  <a class="button button-icon icon icon ion-star" id="setting"></i></a>

<div class="bar bar-header bar-balanced" id="score"><h1>score:<span ></span></h1></div>
  </div>

  <div class="row">
  <div id="content" class="col-xs-9">
    <table class="table table-bordered" id="table"  >

      <tr>
        <td id="0"> </td>
        <td id="1"> </td>
        <td id="2"> </td>
        <td id="3"> </td>
      </tr>
      <tr>
        <td id="4"> </td>
        <td id="5"> </td>
        <td id="6"> </td>
        <td id="7"> </td>
      </tr>
      <tr>
        <td id="8"> </td>
        <td id="9"> </td>
        <td id="10"> </td>
        <td id="11"> </td>
      </tr>
      <tr>
        <td id="12"> </td>
        <td id="13"> </td>
        <td id="14"> </td>
        <td id="15"> </td>
      </tr>
    </table>
  </div>
  </div>
</div>
</div>


 <script type="text/javascript" src="js/base.js"></script>